// $primary: rgb(59, 128, 232);
$primary: #58afd1;
$secondary: #ffa193;
$secondary2: darken($color: $secondary, $amount: 10);
$primary2: lighten($color: $primary, $amount: 25);
$primary3: darken($color: $primary, $amount: 20);
$light: rgb(204, 204, 204);
$light2: #dae5f0;// #D9E8F4;
$light3: rgb(188, 188, 188);
$dark: rgb(40, 40, 40);
$dark2: rgb(11, 25, 46);
$highlight-light: $primary3; // rgb(0, 63, 199); // primary3 #003BAE
// $text-light: rgb(49, 67, 90);
$highlight-dark: $primary2;
$bright: #f14b32;
$default-radius: 0.8em;
$media-size: 620px; // 550px

$darkblue1: rgb(0,62,128);
$darkblue2: rgb(40, 41, 128);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body, input[type="text"], input[type="email"], textarea {
  font-family: 'Work Sans', sans-serif;// 'Scope One', serif;
  font-size: 1.3rem;
  line-height: 1.4;
  // letter-spacing: 1.1px;
  background-color: $dark;
}

.main {
  display: flex;
  height: 100vh;
  padding-top: 40px; // for navbar
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.js-warning {
  background: rgba($color: $secondary, $alpha: 0.7);
  border: 2px solid red;
  color: black;
  padding: 1rem;
  position: absolute;
  width: 100%;
  margin-top: 60px;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: scale 5s ease-in-out;
  opacity: 1;
  
  // transition-delay: 5s;

  p {
    align-items: center;
  }
  

  @media screen and (max-width: $media-size) {
    margin-top: 40px;
  }

  .X {
    float: left;
    // margin-right: 5px;
    padding-right: 40px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    // background: gray;
    color: $dark;

    .xbox {
      width: 40px;
      height: 40px;
      cursor: pointer;
      opacity: 0;

      // &:checked + .line1 {
      //   opacity: 0;
      //   display: hidden;
      // }
    }

    .line1 {
      width: 18px;
      height: 2px;
      background: $dark2;
      rotate: 130deg;
      margin-top: -25px;
      margin-bottom: 6px;
      margin-left: 10px;
      position: fixed;
    }
    .line2 {
      position: fixed;
      width: 18px;
      height: 2px;
      background: $dark2;
      rotate: -130deg;
      margin-top: -25px;
      margin-left: 10px;
    }
  }
}

.xbox {
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.2;

  &:checked ~ .js-warning {
    opacity: 0;
    display: hidden;
  }
}

.Navbar {
  width: 100%;
  padding: 8px;
  height: 60px;
  overflow: auto;
  background: $dark;
  position: absolute;
  color:#eee;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  overflow: hidden;
  letter-spacing: 1px;
  // text-transform: uppercase;
  font-variant: small-caps;
  font-size: 18px;
  transition: opacity 1s ease-in-out;
  transition: height 1s ease-in-out;

  z-index: 2;

  // align-content: center;
  // justify-content: center;

  @media screen and (max-width: $media-size) {
    opacity: 1;
    height: 40px;
  }

  .Logo {
    float: left;
    align-self: left;
    align-self: initial;
    border: 1px solid $light;
    padding-left: 10px;
    padding-top: 2px;
    width: 40px;
    min-width: 40px;
    border-radius: 0.4rem;
    margin-right: 0;

    font-family: 'Scope One', serif;
  }

  .Pages {
    // padding-left: 50%;
    margin-top: 4px;
    transition: all 0.5s ease-in-out;
    margin-right: 0;
    overflow: hidden;
    // margin-left: 20%;
    // padding-left: 20%;
    @media screen and (min-width: $media-size) {
      padding-left: 90%;
    }

    @media screen and (max-width: $media-size) {
      // padding-left: 10px;
      transition: all 0.5s ease-in-out;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      color: $dark;
      margin: 0;
      // display: none;
    }
    

  }

  .toggler {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    z-index: 2;
    opacity: 0;

    @media screen and (min-width: $media-size) {
      display: none;
    }
  }


  .toggler:checked {
    & + .burger .line1 {
      transform: rotate(130deg);
      // width: 20px;
    }
    & + .burger .line2 {
      transform: rotate(260deg);
      opacity: 0;
    }
    & + .burger .line3 {
      transform: rotate(-130deg);
      padding: -15px;
      margin-top: -15px;
    }
    
  }

  .burger div {
    width: 20px; //25px
    height: 2px;
    background-color: $light;
    margin: 5px;
    overflow: hidden;
    // margin-left: 80%;
    @media screen and (min-width: $media-size) {
      transition: all 0.5s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }

   
    // display: none;
    // padding-left: 20%;
    padding-right: 10px;

    @media screen and (max-width: $media-size) {
      padding-left: 70%;
    }

  }
  .burger {
    float: left;
    overflow: hidden;
    margin-right: 15px;
    transition: all 0.5s ease-in-out;

    .line1, .line2, .line3 {
      transition: all 0.5s ease-in-out;
    }

  }

  .moveleft {
    float: left;
  }
  .moveright {
    float:right;
  }

  a {
    text-decoration: none;
    color: $light2;

    &:hover {
      transition: all 0.3s ease-in-out;
      color: $primary;
    }
  }

  li {
    list-style-type: none;
    display: inline;
    padding: 0rem 1.4rem;
    transition: all 0.8s ease-in-out;

    @media screen and (max-width: 750px) {
      padding: 0rem 0.7rem;
    }
  }
}

.menu {
  background: linear-gradient(to bottom, rgb(6, 43, 57), rgb(20, 55, 52));//  rgb(0, 62, 128);
  position: absolute;
  // margin-top: -540px; // 40px
  margin-top: 40px;
  width: 100%;
  height: 85%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: visible;
  padding: 4rem;
  transition: all 0.6s ease-in-out;
  border-radius: 5rem;


  // NOT ACTIVE
  opacity: 0;
  display: hidden;
  z-index: -1;
  // scale: 0;
  margin-top: -540px;
  // translate: 20rem;
  // rotate: -45deg;

  // transform: opacity(0);
  // border-radius: $default-radius;

  @media screen and (min-width: $media-size) {
    opacity: 0;
    display: hidden;
    z-index: -1;
  }

  li, a {
    color: $light;
    text-decoration: none;
    list-style-type: none;
    transition: all 0.3s ease-in-out;
    
    padding: 1rem;
    // text-align: center;
    overflow: visible;
    margin: 1.2rem;
    border-radius: 20rem;
    letter-spacing: 1px;
    font-variant: small-caps;
  }

  a {
    background: none;
  }

  ul {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .shadow {
    opacity: 1;
  }

  a:hover, a:active {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.379), 1px 1px 35px rgba(255, 255, 255, 0.502);
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 0.222);
    background: rgba(255, 255, 255, 0.057);
  }
  a:active {
    background: rgba(255, 255, 255, 0.295);
    box-shadow: 1px 1px 25px #eee;
  }

  
}

.menu-active {
  opacity: 1;
  display: flex;
  z-index: 1;
  padding-top: 15rem;
  padding-bottom: 20rem;
  margin-top: 40px;
  border-radius: 0;
  scale: 1;
  translate: 0;
  rotate: 0deg;
}



@mixin Title-template {
  background: rgba($primary, 0.2);
  border: 1px solid black;
  border-radius: 0.8rem;
  justify-content: center; // space-evenly
  text-align: center; // justify
  margin: 2.5rem auto;
}

.banner {
  flex: 1 1 100%;
  background: $dark;
  background-image: url('./images/main_bg2.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 20rem;
  align-content: center;

  .cover {
    background: rgba($color: $primary, $alpha: 0.2);
    height: 100%;
    padding: 2rem;
  }

  .Title {
    @include Title-template;
    padding: 0.5rem 0;
    color: #eee;
    font-size: 2rem;
    word-spacing: 1rem;
    max-width: 10rem;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin-top: 4.5rem;
  }

  .Title2 {
    @include Title-template;
    padding: 0.5rem 0;
    color: $primary2;
    font-size: 1.4rem;
    max-width: 900px; // 75%
    letter-spacing: 1px;
    margin-bottom: 4rem;
  }

  span {
    color: #ddd;
  }
}

@mixin bloc {
  // flex: 1 1 auto;
  align-content: center;
  display: flex;
  padding: 1rem 1rem;
  align-items: center;
  width: 100%;

  p {
    max-width: 40rem;
    padding: 2rem;
    text-align: center;
  }

  .content {
    padding: 5rem 0rem;
  }

  span {
    color: $highlight-light;
  }


}

.cover2 {
  background: rgba($color: $dark, $alpha: 0.1);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

@mixin side-img-template {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  // background-attachment: fixed;
}

.ai-bloc {
  @include bloc;
  // background: $light2;
  // color: $dark2;
  color: darken($color: $primary, $amount: 15);
  background: linear-gradient(rgba(0,31,0,0.2), rgba(0,31,0,0.3)), url('images/python-ai-corners4.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  .Title {
    padding: 2rem 0rem;
    margin: 8rem auto; 
    border-radius: $default-radius;
    background: rgba($color: rgb(0,31,0), $alpha: 0.6);
    border: 1px solid $primary3;
  }

  .side-img {
    @include side-img-template;
    background-image: url('images/code_shot.png');
  }

  span {
    color: $light2;
  }
}

.js-bloc {
  @include bloc;
  background: rgb(233, 233, 233);

  // background-image: linear-gradient(rgba(0,0,0,1.0), rgba(0,0,0,1.0), url('images/building_side.png'));
  background-image: linear-gradient(rgba(233,233,233,0.2), rgba(233,233,233,1.0)), url('images/building_side.png');
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  font-weight: 400;

  .Title {
    @include Title-template;
    background: rgba($color: rgb(233,233,233), $alpha: 0.60);
    padding: 2rem 0rem;
    margin: 10rem auto;
  }

  .side-img {
    @include side-img-template;
    background-image: url('images/building_side.png');
  }

  .lighter {
    color: $primary3;
  }


}

.c-bloc {
  @include bloc;
  background: rgb(6, 6, 6);
  color: $light;
  background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.9)), url('images/smoke.jpeg');
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  // width: 100%;
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;

  .content {
    padding: 2rem 0;
  }

  .Title {
    @include Title-template;
    background: rgba($color: rgb(6,6,6), $alpha: 0.60);
    border: 1px solid $light;
    margin: 6rem auto;
  }

  .side-img {
    @include side-img-template;
    background-image: url('images/smoke.jpeg');

  }

  span {
    color: $highlight-dark;
  }
}


@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.15s, $radius: $default-radius) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  // transition: color $duration $duration/3 ease-in-out; // /3
  transition: color 0s ease-in-out;
  position: relative;
  
  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0; height: 0;
    
    #{$vertical}: 0; //0
    #{$horizontal}: 0;

    border-radius: $radius;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }
  
  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');
    
    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }
  
  &:hover {
    color: $hover;
    border-radius: $radius;
    
    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 1.2s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }
    
    &::before { transition-delay: 0s, 0s, $duration; }
    
    &::after { transition-delay: 0s, $duration, 0s; }

    &:active {
      // background: white; // $secondary
      // color: white;
      // transition: all 0.1s ease-in-out;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
}

//=== Button styling, semi-ignore
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  border-radius: $default-radius;
  
  &:focus { outline: 2px dotted #55d7dc; }
}

.contact-bloc {
  background: $light2;
  width: 100%;
  // padding: 2rem;
  // display: block;
  grid-template-columns: 1fr;
  display: flex;
  justify-content: center;
  // align-content: center;

  // align-self: center;
  // justify-content: center;
  // justify-items: center;
  text-align: center; 

  margin: 0px;
  padding: 0px;

  h1, p {
    padding-bottom: 0.2rem;
    // text-align: left;
    // padding-left: 3rem;
  }


  .btn {
    @include btn-border-drawing(#58afd1, $bright, 4px, top, left);
    margin: 20px;
    // margin-top: 1em;
    margin-bottom: 0.5rem;

    &:hover {
      box-shadow: 0.1em 0.1em 5px 1px rgba(0,0,0,0.3);
    }

    &:active {
      box-shadow: none;
      color: red;
    }
    // align-self: center;
    // justify-content: center;
    // justify-items: center;
    // text-align: center;

    @media screen and (max-width: 550px) {
      margin: 15px;
    }
  }

  .card {
    border-radius: 0.5rem;
    max-width: 30rem;
    justify-content: flex-start;
    padding: 3rem 0rem;
    // margin: 0px;
    // padding: 0px;
    overflow-y: hidden;
    padding-bottom: 15rem;

    @media screen and (max-width: 550px) {
      padding-bottom: 17rem;
    }
  }

  input, textarea {
    border-radius: 0.5em;
    resize: none;
    width: 70%;
    width: 80%;
    padding: 0.5rem;
    // margin: 1rem;
    border: 1.5px solid gray;
    transition: all 0.4s ease-in-out;
    background: #eee;
    margin: 5px; //5

    &:focus {
      outline: none;
      border-color: $primary;
      box-shadow: 0.1em 0.1em 5px 1px rgba(0,0,0,0.3);
    }
  }

  textarea {
    width: 80%;
    height: 70%;
    // margin: 0px;
  }

  

}

.BottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  // padding: 10rem;
  width: 100%;
  height: 0rem;
  background-color: $dark;

  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: space-between;

  i {
    opacity: 0;
    padding-right: 20px;
  }


  @media screen and (max-width: $media-size) {
    opacity: 1;
    height: 4.5rem;
    visibility: visible;
    padding: 1rem;
    display: flex;
    color: rgb(175, 188, 211);

    i {
      transition-delay: 0.5s;
      transition: opacity 2s ease-in-out;
      transition: color 0.3s ease-in-out;
      opacity: 1;
      padding-right: 20px;

      &:hover {

        color: $secondary;
        text-shadow: 0px 0px 2px $secondary;
      }
    }

  }

}